<section>
<div class="container">
    
         <table class="table table-dark table-striped">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Dept</th>
      <th scope="col">Reg.no</th>
      <th scope="col">year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>jdjjd</td>
    </tr>
  </tbody>
</table>
    
</div>
</section>